@import "variables";
@import "base";
@import "container";
@import "nav";
@import "tables";
@import "buttons";
@import "flexbox-home";
@import "gallery";
@import "footer";
@import "owl-slider";
@import "helpers";
@import "panel";
@import "order-now";
@import "custom-styles";

body {
    background-color: white;
}

header {
    background-image: linear-gradient(to bottom, #749dcc, #90cce7, white);
    justify-content: center;
    padding: 25px;
}

.navbar {
    background-color: #ffff;
    border:2.5px solid #749dcc;
}

#navbarNavAltMarkup {
    justify-content: center;
}

table {
    justify-items: center;
}